<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/css/error.css?v=10">
</head>

<body>

<div class="container">
    <h1>Oops!</h1>
    <h2>Something went wrong</h2>

    <p>We’re working to fix the issue. Please try again later.</p>

    <!-- Optional: show error message from Spring -->
    <div class="error-box">
        Error: <span th:text="${error}"></span>
    </div>

    <a href="/login">Go Back</a>
</div>

</body>
</html>